"50PH1A" {
    fg "#FFFFFF"
    bg "#000000"
    black "#000000"
    red "#b91c1c"
    green "#059669"
    yellow "#d97706"
    blue "#0284c7"
    magenta "#9333ea"
    cyan "#38bdf8"
    white "#FFFFFF"
    orange "#f59e0b"
}